
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "dd0335ef3e68416663a2f377e88ca92a3d7718fb"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         pretty-project/ugly-ui    {:git/url "http://github.com/pretty-project/ugly-ui"
                                    :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
