
{:paths ["source-code/cljs"]
 :deps  {reagent/reagent          {:mvn/version "1.1.0"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "79741278ef58a83ab1f6eeef8266cbcfa052dc3b"}}}
